body {
	font-family: 'Roboto', sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 12px;
    color: #2fa4e7;
}

h1 {
	margin: 17px 0;
}


.navbar-green {
    background-color: #77b300;
    border-color: #77b300;
}

.dropdown-menu>li>a {
    color: #fff;
}

.sidebar-wrapper .glyphicon {
	font-size:16px;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}