{% extends "admin.layout.base" %}

{% block title %}Создать новый пост{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Просмотр полльзователя</h1>

            <form method="post" action="{{ route('admin_company_insert') }}">

                <div class="form-group">
                    <label>Город</label>
                    <select class="form-control" name="city_id" required>
                        <option value="">--</option>
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Название</label>
                    <input type="text" class="form-control" name="name" required>
                </div>

                <div class="form-group">
                    <label>Адрес</label>
                    <input type="text" class="form-control" name="address" required>
                </div>

                <div class="form-group">
                    <label>Рабочее время</label>
                    <input type="text" class="form-control" name="work_times" required>
                </div>

                <div class="form-group">
                    <label>Телефон</label>
                    <input type="text" class="form-control" name="phone" required>
                </div>

                <div class="form-group">
                    <label>Сайт</label>
                    <input type="text" class="form-control" name="site" required>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}