{% extends "admin.layout.base" %}

{% block title %}Список компаний{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Список постов</h1>
        </div>

        <div class="col-lg-1 col-md-2">
            <p style="padding-top: 24px">
                <a href="{{ route('admin_company_add') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Добавить</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            {% if  list.count() > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></th>
                    <th>Город</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>
                            {% if item.images.count() %}
                                <img src="{{ item.images.first().pathUrl('120_90_') }}" alt="">
                            {% else %}
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                            <p><span class="glyphicon glyphicon-map-marker text-muted" aria-hidden="true"></span> {{ item.address }}<br>
                                <span class="glyphicon glyphicon-time text-muted" aria-hidden="true"></span> {{ item.work_times }}<br>
                                <span class=" glyphicon glyphicon-earphone text-muted" aria-hidden="true"></span> {{ item.phone }}</p>
                        </td>
                        <td class="text-right">
                            <a href="" class="btn btn-link"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
                            <a href="{{ route('admin_company_view', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
                {% else %}
                    <div class="alert alert-info" role="alert">Нет компаний</div>
                {% endif %}
        </div>
    </div>
{% endblock %}