{% extends "admin.layout.base" %}

{% block title %}Список постов{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Просмотр полльзователя</h1>

            <img src="{{ user.pathUrl('s_') }}" alt="{{ user.name }}" class="img-circle img-thumbnail img-avatar">

            <form class="form-horizontal upload-image" id="upload" enctype="multipart/form-data" method="post" action="{{ route('admin_user_avatar') }}" autocomplete="off">
                <input type="hidden" name="user_id" value="{{ user.id }}" />
                <input type="file" name="image" id="image" onchange="this.form.submit()"/>
            </form>

            <form method="post" action="{{ route('admin_user_update') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="name" value="{{ user.email }}" required>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" name="name" value="{{ user.name }}" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Пол</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" value="option1" checked>
                            Мужской
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios"value="option2">
                            Женский
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('.img-avatar').click(function(){
                $('.upload-image [type="file"]').click();
            });
        });
    </script>
{% endblock %}