<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .set_visible_city{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                Marcus Doe
            </div>
            <div class="profile-usertitle-job">
                Developer
            </div>
        </div>
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/admin">Справка<span class="pull-right hidden-xs showopacity glyphicon glyphicon-question-sign"></span></a></li>

                        <li><a href="{{ route('admin_user_index') }}">Пользователи<span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                        <li><a href="{{ route('admin_post_index') }}">Посты<span class="pull-right hidden-xs showopacity glyphicon glyphicon-file"></span></a></li>
                        <li><a href="{{ route('admin_user_index') }}">Коментарии<span class="pull-right hidden-xs showopacity glyphicon glyphicon-comment"></span></a></li>
                        <li><a href="{{ route('admin_company_index') }}">Компании<span class="pull-right hidden-xs showopacity glyphicon glyphicon-map-marker"></span></a></li>
                        <li><a href="">Выход<span class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">{% block content %}{% endblock %}</div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
