{% extends "admin.layout.base" %}

{% block title %}Список городов{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Список полдьзователей</h1>

            <form class="form-inline well">
                <div class="form-group">
                    <label class="sr-only">Email address</label>
                    <input type="text" name="email" class="form-control" value="{{ email }}" placeholder="Email пользователя">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Выбрать</button>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>email</th>
                    <th>Имя</th>
                    <th>Активен</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                            {% if item.active > 0 %}
                            <p class="text-success set_visible_city" data-id="{{ item.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></p>
                            {% else %}
                            <p class="text-danger set_visible_city" data-id="{{ item.id }}"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></p>
                            {% endif %}
                        </td>
                        <td></td>
                        <td><a href="{{  route('admin_user_view', {'id': item.id})  }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}